.allies
  &-cover
    background-image url("../img/backgrounds/bg-allies.png")
    background-position left
    background-repeat no-repeat
    background-size contain
    display flex
    height 482px
    justify-content flex-end
    padding 100px 200px 0 0

    &-title
      color $hpink
      font-size $fs47
      margin-bottom 40px

    &-desc
      color $hblack
      font-size $fs18
      letter-spacing 0.5px
      line-height 25px

      &-container
        width 475px

  &-cards
    display flex
    flex-wrap wrap
    justify-content space-between
    margin 132px auto 138px auto
    width 1041px

    &-carousel
      display none !important

    &-content
      align-items center
      box-shadow 0 11px 56px 0 rgba(0, 0, 0, 0.19)
      display flex
      height 283px
      justify-content center
      margin-bottom 39px
      position relative
      width 317px

    &-hover
      align-items center
      bottom 0
      display flex
      flex-direction column
      justify-content center
      left 0
      opacity 0
      padding 0 43px
      position absolute
      right 0
      top 0
      transition 0.3s

      &:hover
        background-color $hpink
        cursor context-menu
        opacity 1
        transition 0.3s

    &-title
      color $hwhite
      font-size $fs15
      letter-spacing 0.4px
      line-height 17px
      margin-bottom 10px
      text-align center

    &-desc
      color $hwhite
      font-size $fs13
      letter-spacing 0.4px
      line-height 17px
      text-align center

  &-logo
    &-axa
      height 131px
      width 131px

    &-imss
      height 149px
      width 126px

    &-stanford
      height 84px
      width 179px

    &-ycombinator
      height 42px
      width 204px

    &-kowa
      height 79px
      width 164px

    &-kio
      height 93px
      width 122px

    &-beeva
      height 113px
      width 165px

    &-molex
      height 80px
      width 171px

    &-tomatelopecho
      height 126px
      width 191px

    &-tepozrosa
      height 135px
      width 182px

    &-nsf
      height 140px
      width 146px

    &-google
      height 56px
      width 165px

  &-donors
    background-color $hgrayLight
    padding 50px 0 70px 0

    &-title
      color $hpink
      font-size $fs45
      padding 0 30px
      text-align center

    &-desc
      color $hblack
      font-size $fs17
      line-height 25px
      margin 40px auto 50px auto
      max-width 750px
      text-align center

    &-container
      display flex !important
      flex-direction row
      justify-content center
      height 235px
      overflow hidden
      position relative

    &-carousel
      display none !important

    &-content
      display flex
      flex-direction column

      &:nth-child(2)
        margin 0 100px

    &-name
      color $hblack
      font-size $fs17
      line-height 26px
      text-align center
      transition 0.3s

      &:hover
        color $hpink
        font-weight $bold
        transition 0.3s

    &-collapsible
      background-image url("/img/icons/icon-circle-arrow.png")
      background-repeat no-repeat
      background-size cover
      cursor pointer
      height 30px
      width 30px

      &-container
        margin 30px auto 0 auto
        padding-left 20px
        width 30px

    &-fadeout
      bottom 0
      height 85px
      background: linear-gradient(
        rgba(244, 244, 244, 0) 0%,
        rgba(244, 244, 244, 1) 100%)
      position absolute
      width 100%

@media screen and (min-width 750px) and (max-width 1100px)
  .allies
    &-cards
      width 679px

@media screen and (max-width 900px)
  .allies
    &-donors
      &-title
        font-size $fs38
        line-height 40px

      &-desc
        font-size $fs15
        padding 0 30px

      &-container
        display none !important

      &-content
        height 235px

      &-carousel
        display block !important
        height 235px

        &-container
          margin 0 auto
          position relative
          width 250px

        &-navigation
          width 16px

        & .owl-next,
        & .owl-prev
          bottom 0
          position absolute
          z-index 3

        & .owl-next
          right -20px

        & .owl-prev
          left -20px

      &-collapsible
        &-container
          padding-left 6px

      &-fadeout
        z-index 1

@media screen and (max-width 749px)
  .allies
    &-cover
      background-size cover
      height 269px
      padding 55px 0 0 0

      &-info
        margin 0 auto
        width 367px

      &-title
        margin-bottom 10px

      &-desc
        font-size $fs15
        letter-spacing 0.2px
        line-height 21px

        &-container
          width auto

    &-cards
      width 367px
      display none

      &-carousel
        display block !important
        margin 50px auto
        position relative
        width 230px

        & .owl-stage-outer
          overflow visible

        & .owl-item
          opacity 0
          transition opacity 0.3s

        & .owl-item.active
          opacity 1
          visibility visible

        & .owl-item
          visibility hidden

        &-navigation
          height 30px
          width 20px

        & .owl-prev,
        & .owl-next
          bottom 0
          height 30px
          margin auto
          position absolute
          top 0

        & .owl-prev
          left -35px

        & .owl-next
          right -35px

        & .owl-dots
          bottom -10px
          display flex
          justify-content center
          left 0
          position absolute
          right 0

        & .owl-dot
          background-color $hgrayDots !important
          border solid 1px $hgrayDots !important
          border-radius 100px
          height 9px
          margin 0 5px
          width 9px

        & .owl-dot.active
          border solid 1px $hgrayBorder !important
          background-color transparent !important
          height 10px
          width 10px

      &-content
        height 215px
        width 230px

      &-hover
        padding 20px

        &-content
          height 152px
          overflow auto

    &-logo
      &-axa
        height 70px
        width 70px !important

      &-imss
        height 80px
        width 68px !important

      &-stanford
        height 45px
        width 96px !important

      &-ycombinator
        height 26px
        width 125px !important

      &-kowa
        height 42px
        width 88px !important

      &-kio
        height 60px
        width 79px !important

      &-beeva
        height 60px
        width 89px !important

      &-molex
        height 43px
        width 92px !important

      &-tomatelopecho
        height 67px
        width 103px !important

      &-tepozrosa
        height 72px
        width 98px !important

      &-nsf
        height 75px
        width 78px !important

      &-google
        height 30px
        width 89px !important

@media screen and (max-width 449px)
  .allies
    &-cover
      &-info
        width 260px

      &-title
        font-size $fs38

      &-desc
        font-size $fs13

    &-cards
      margin 70px auto 40px auto
      width 171px
