.contact
  &-top
    align-items center
    background-color $hgrayLight
    display flex
    height 200px
    justify-content center

    &-title
      color $hblackLight
      font-size $fs45

  &-us
    display flex
    flex-direction row

    &-info
      align-items center
      display flex
      flex-direction column
      padding 50px 0
      width 60%

      &-title
        color $hblackLight
        font-size $fs45

      &-desc
        &-1,
        &-2
          color $hblackLight

        &-1
          font-size $fs17
          margin 10px 0 10px 0

        &-2
          font-size $fs15
          margin-bottom 20px

    &-form
      align-items center
      display flex
      flex-direction column

    &-input
      border solid 1px $hgrayDots
      border-radius 6px
      color $hblackLight
      font-size $fs17
      height 40px
      margin-bottom 10px
      padding 0 15px
      width 380px

      &::placeholder
        color $hgrayDots

    &-textarea
      border solid 1px $hgrayDots
      border-radius 6px
      color $hblackLight
      font-size $fs17
      height 80px
      margin-bottom 30px
      padding 10px 15px
      width 380px

      &::placeholder
        color $hgrayDots

    &-social
      align-items center
      background-color #EDEDED
      display flex
      justify-content center
      width 40%

      &-thumbup
        display block
        height 60px
        margin 0 auto
        width 57px

      &-title
        color $hblackLight
        font-size $fs45
        margin 20px 0 30px 0

      &-networks
        display flex
        flex-direction column

        &-content
          align-items center
          display flex
          flex-direction row

          &:nth-child(2)
            margin 20px 0

      &-icon
        height 60px
        width 60px

      &-path
        color $hblack
        font-size $fs17

  &-address
    background-color $hgrayLight
    display flex
    flex-direction row

    &-map
      &-container
        filter grayscale(100%)
        width 50%

    &-info
      color $hblackLight
      font-size $fs17
      padding 90px 0 0 60px
      
      & h3
        font-size $fs45

      & h5
        font-size $fs25
        margin-top 15px

    &-place
        font-size $fs25
        margin-top 50px

    &-desc
        font-size $fs18
        line-height 30px

    &-address
      max-width 350px

@media screen and (max-width 920px)
  .contact
    &-us
      flex-direction column

      &-info,
      &-social
        width 100%

      &-social
        padding 40px 0

    &-address
      flex-direction column-reverse

      &-map
        &-container
          height 340px
          width 100%

      &-info
        align-items center
        display flex
        justify-content center
        padding 40px 0

@media screen and (max-width 500px)
  .contact
    &-top
      height 150px
      &-title
        font-size $fs38

    &-us
      &-info
        padding 50px 30px
      
        &-title
          font-size $fs38
          text-align center

        &-desc
          &-1,
          &-2
            text-align center

      &-social
        &-title
          font-size $fs38

      &-form
        width 100%

      &-input,
      &-textarea
        width 100%

    &-address
      &-info
        font-size $fs15
        padding 40px 30px

        & h3
          font-size $fs38

        & h5
          font-size $fs20
          margin-top 15px

      &-place
          font-size $fs20
          margin-top 50px

      &-desc
          font-size $fs15
          line-height 30px
