.eva
  &-cover
    align-items center
    background-color $hgrayLight
    background-image url("../img/backgrounds/bg-eva-cover.png")
    background-position right 10% top
    background-repeat no-repeat
    background-size contain
    display flex
    height 500px
    padding-left 10%

    &-content
      max-width 645px
      text-align center

    &-logo
      height 60px
      width 242px

    &-desc
      color $hblack
      font-size $fs20
      margin 35px 0 40px 0

  &-info
    align-items center
    background-color $hgrayBg
    background-image url("../img/backgrounds/bg-eva-info.png")
    background-position left
    background-repeat no-repeat
    background-size 80%
    display flex
    height 500px
    justify-content flex-end
    padding-right 5%

    &-content
      max-width 600px
      margin-left 60%

    &-desc
      color $hblack
      font-size $fs20
      text-align left

  &-steps
    margin 90px 0

    &-title
      color $hblackMedium
      font-size $fs45
      text-align center

    &-container
      display flex !important
      flex-direction row
      flex-wrap wrap
      margin 40px auto 60px auto
      width 960px

    &-carousel
      &-get,
      &-work
        display none !important

    &-content
      align-items center
      border-top solid 2px $hpink
      border-bottom solid 2px $hpink
      display flex
      flex-direction column
      height 320px
      margin-bottom 15px
      padding 30px 30px 0 30px
      width 320px

    &-number
      color $hpink
      font-size $fs19

    &-desc
      color $hblack
      font-size $fs15
      line-height 23px
      text-align center

    &-note
      color $hblack
      font-size $fs17
      line-height 27px
      margin -50px auto 0 auto
      text-align center
      max-width 900px

    &-tool
      color $hblack
      font-size $fs17
      line-height 27px
      text-align center

      &-container
        border solid 2px $hpink
        margin 50px auto 0 auto
        max-width 1000px
        padding 25px 50px

    &-icon
      &-container
        align-items center
        display flex
        height 110px

      &-get
        &-1
          height 110px
          width 110px !important

        &-2
          height 66px
          width 66px !important

      &-work
        &-1
          height 60px
          width 60px !important

        &-3
          height 71px
          width 71px !important

        &-4
          height 53px
          width 53px !important

        &-5
          height 53px
          width 53px !important

        &-6
          height 52px
          width 52px !important

      &-getwork
        height 60px
        width 60px !important

  &-proofs
    background-image url("../img/backgrounds/bg-eva-proofs.png")
    background-position right
    background-repeat no-repeat
    background-size 75%
    height 650px
    padding 90px 0 0 70px

    &-content
      max-width 480px

    &-title
      color $hpink
      font-size $fs45

    &-percentages
      color $hblack
      font-size $fs20
      letter-spacing 0.5px
      line-height 32px

      &-container
        border solid 2px $hpink
        margin 40px 0
        padding 30px

    &-desc
      color $hblack
      font-size $fs18
      line-height 30px
      margin-bottom 30px

  &-founder
    background-color $hgrayLight
    padding 130px 0

    &-carousel
      margin 0 auto
      position relative
      width 1200px

      &-navigation
        width 20px

      & .owl-prev
      & .owl-next
        bottom 0
        position absolute
        top 0

      & .owl-prev
        left -80px

      & .owl-next
        right -80px

      & .owl-dots
        bottom -50px
        display flex
        justify-content center
        left 0
        position absolute
        right 0

      & .owl-dot
        background-color $hgrayDots !important
        border solid 1px $hgrayDots !important
        border-radius 100px
        height 9px
        margin 0 5px
        width 9px

      & .owl-dot.active
        border solid 1px $hgrayBorder !important
        background-color transparent !important
        height 10px
        width 10px

    &-card
      background-color $hwhite
      display flex
      flex-direction row
      width 1200px

    &-img
      background-position center
      background-repeat no-repeat
      background-size cover
      height 554px
      width 574px

    &-info
      display flex
      flex-direction column
      justify-content center
      padding 0 40px

  &-questions
    margin 60px 0 90px 0

    &-title
      color $hblack
      font-size $fs45
      text-align center

    &-container
      list-style none
      margin 50px 10% 0 10%
      padding 0

    &-content
      border-bottom solid 2px $hpink
      border-top solid 2px $hpink
      margin-bottom -2px

    &-question
      color $hblack
      cursor pointer
      display block
      font-size $fs18
      padding 25px 90px 25px 60px
      position relative
      transition background .3s ease
      width 100%

      &:after
        bottom 0
        background-image url("../img/icons/icon-faq-close.png")
        background-repeat no-repeat
        background-size cover
        content ""
        display block
        height 24px
        margin auto
        position absolute
        right 60px
        top 0
        width 24px

      &.active:after
        background-image url("../img/icons/icon-faq-open.png")

      &:hover
        color $hpink

      &.active
        color $hpink

    &-answer
      color $hblack
      font-size $fs15
      letter-spacing 1px
      line-height 25px
      padding-bottom 20px

      &-container
        color $hblack
        font-size $fs18
        max-height 0
        opacity 0
        overflow hidden
        padding 0 100px 0 60px
        transition 0.3s

        &.show
          max-height 500px
          opacity 1
          padding 25px 100px 25px 60px
          transition 0.3s

    &-link
      color $hblack
      text-decoration underline


.border-dots
  border-left dashed 1px $hblack
  border-right dashed 1px $hblack

.founder
  &-rocio
    background-image url("../img/founders/founder-rocio-paulina.jpg")

  &-eliesheva
    background-image url("../img/founders/founder-eliesheva-ramos.jpg")

  &-buenrostro
    background-image url("../img/founders/founder-leticia-buenrostro.jpg")

  &-elizabeth
    background-image url("../img/founders/founder-elizabeth-saldania.jpg")

  &-diana
    background-image url("../img/founders/founder-diana-zamora.jpg")

  &-maritsa
    background-image url("../img/founders/founder-maritsa-paz.jpg")

  &-agustina
    background-image url("../img/founders/founder-agustina-martinez.jpg")

@media screen and (max-width 1420px)
  .eva
    &-founder
      &-carousel
        width 870px

      &-card
        width 870px

      &-img
        width 420px

      &-info
        width 450px

@media screen and (max-width 1250px)
  .eva
    &-cover
      &-content
        margin-right 60%

    &-info
      &-content
        margin-left 60%

    &-proofs
      height auto
      padding 50px 0 30px 70px

      &-content
        margin-right 60%

@media screen and (max-width 1060px)
  .eva
    &-steps
      &-title
        font-size $fs25

      &-desc
        text-align left

      &-container
        border-top solid 2px $hpink
        border-bottom solid 2px $hpink
        flex-direction column
        margin 30px auto 60px auto
        width 80%

        &-work
          display none !important

      &-content
        border none
        flex-direction row
        height 190px
        margin-bottom 0
        padding 0 15px
        width 100%

        &.border-dots
          border-bottom dashed 1px $hblackLight
          border-top dashed 1px $hblackLight

      &-carousel
        &-navigation
          width 20px

        &-work
          border-top solid 2px $hpink
          display block !important
          margin 30px auto 60px auto
          position relative
          width 80%

          & .eva-steps-content.border-dots
            border-bottom none
            border-top none

          &-controls
            border-bottom solid 2px $hpink
            border-top dashed 1px $hblackLight
            height 220px
            position relative

          & .owl-dots
            left 0
            position absolute
            right 0
            text-align center
            top 40px

          & .owl-dot
            border solid 1px $hgrayDots !important
            background-color $hgrayDots !important
            border-radius 100px
            height 11px
            margin 0 5px
            width 11px

          & .owl-dot.active
            border solid 1px $hgrayBorder !important
            background-color $hwhite !important

          & .owl-next,
          & .owl-prev
            bottom 60px
            margin 0 auto
            position absolute
            width 20px

          & .owl-next
            left 100px
            right 0

          & .owl-prev
            left 0
            right 100px

      &-icon
        &-container
          justify-content center
          margin 0 50px 0 10px
          min-width 110px

      &-note
        margin-top 60px

      &-tool
        &-container
          margin 50px 30px 0 30px
          max-width 100%

    &-founder
      &-carousel
        padding 0 50px
        width 100%

        & .owl-prev
        & .owl-next
          bottom -100px
          width 20px

        & .owl-prev
          left 10px

        & .owl-next
          right 10px

      &-card
        flex-direction column
        width 100%

      &-img
        background-position center
        height 330px
        width 100%

        &.founder-diana
          background-position top

      &-info
        padding 40px 25px
        width 100%

@media screen and (max-width 860px)
  .eva
    &-cover
      align-items flex-start
      background-position bottom right -30px
      background-size 430px
      height 670px
      padding-left 0

      &-content
        margin 80px auto 0 auto
        padding 0 30px

      &-logo
        height 40px
        width 162px

      &-desc
        font-size $fs15
        letter-spacing 0.2px
        line-height 25px
        margin 40px 0
        max-width 322px

    &-info
      align-items flex-start
      background-position left -66px bottom -105px
      background-size 358px
      height 400px
      justify-content center
      padding 70px 0 0 0

      &-content
        margin-left 0

      &-desc
        font-size $fs15
        letter-spacing 0.2px
        line-height 25px
        max-width 285px
        text-align center

    &-steps
      &-note
        color $hblackLight
        font-size $fs15
        letter-spacing 0.2px
        line-height 25px
        width 80%

      &-tool
        color $hblackLight
        font-size $fs15
        letter-spacing 0.2px
        line-height 25px

        &-container
          margin-left auto
          margin-right auto
          padding 25px
          width 80%

    &-proofs
      background-image url("../img/backgrounds/bg-eva-proofs.png")
      background-position right top -95px
      background-size 70%
      padding 150px 0 30px 0

      &-title
        font-size $fs25
        padding-left 15px

      &-content
        margin 0 0 0 40px
        max-width 370px
        width 80%

      &-percentages
        font-size $fs18
        letter-spacing 0.2px
        line-height 27px

        &-container
          padding 10px 15px

      &-desc
        font-size $fs15
        letter-spacing 0.2px
        line-height 25px
        padding 0 15px 0 15px

    &-founder
      padding 60px 0 160px 0

      &-carousel
        padding 0 20px
        width 100%

        & .owl-next,
        & .owl-prev
          bottom -95px
          height 30px
          margin 0 auto
          top initial

        & .owl-next
          left 0
          right -55px

        & .owl-prev
          left -55px
          right 0

        & .owl-dots
          bottom -30px

    &-questions
      &-title
        font-size $fs25

      &-question
        font-size $fs15
        letter-spacing 0.2px
        line-height 21px
        padding 25px 65px 25px 0

        &:after
          right 30px

      &-answer
        font-size $fs15
        line-height 24px

        &-container
          padding 0 !important

        &-container.show
          padding 25px 65px 25px 0

@media screen and (max-width 860px) and (min-width 710px)
  .eva
    &-cover
      height 510px

@media screen and (max-width 419px)
  .eva
    &-steps
      &-content
        flex-direction column
        height auto
        padding 20px 0

      &-icon
        &-container
          margin 0

      &-desc
        text-align center

    &-proofs
      &-content
        margin 0 auto
