<!DOCTYPE html>
<html>
  <head>
    {% include 'seo/googleanalytics.njk' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% include 'seo/metatags.njk' %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Higia | {% block title %}{% endblock %}</title>
    <link runat="server" rel="shortcut icon" href="/img/favicon/favicon-higia.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="/img/favicon/favicon-higia.png" type="image/ico"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% include 'seo/facebookpixel.njk' %}
  </head>
  <body>
    <div id="page">
      {% if section == 'es/index' or section == 'index' or section == 'es/higia' or section == 'es/eva' or section == 'es/allies' or section == 'es/research' or section == 'es/news' or section == 'es/contact' %}
        {% include 'partials/navbar.njk' %}
      {% else %}
        {% include 'partials/navbar-en.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section == 'es/index' or section == 'index' or section == 'es/higia' or section == 'es/eva' or section == 'es/allies' or section == 'es/research' or section == 'es/news' or section == 'es/contact' %}
        {% include 'partials/footer.njk' %}
      {% else %}
        {% include 'partials/footer-en.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
