<nav class="navbar">
  <div>
    <a href="/es/index.html">
      <img class="navbar-logo" src="{{es.navs.logo}}" alt="Higia logo navbar">
    </a>
  </div>
  
  <div class="navbar-option-container helvneue-light">
    {% for nav in es.navs.info %}
    <div class="navbar-option-content">
      <a href="{{nav.link}}">
        <span class="navbar-option {% if view_name == nav.viewName %}active{% endif %} {% if nav.section == 'Preordena' %}navbar-btn helvneue-medium{% endif %}">{{nav.section}}</span>
      </a>
    </div>
    {% endfor %}
    <div class="navbar-separator-container">
      <div class="navbar-separator"></div>
    </div>
    <div class="navbar-lang-container">
      <div class="navbar-lang-content">
        <a href="{% if section == 'en/index' %} /es/index.html {% elif section == 'en/higia' %} /es/higia.html {% elif section == 'en/eva' %} /es/eva.html {% elif section == 'en/allies' %} /es/allies.html {% elif section == 'en/research' %} /es/research.html {% elif section == 'en/news' %} /es/news.html {% elif section == 'en/contact' %} /es/contact.html {% endif %}">
          <span class="navbar-lang {% if section == 'es/index' or section == 'index' or section == 'es/higia' or section == 'es/eva' or section == 'es/allies' or section == 'es/research' or section == 'es/contact' %} helvneue-bold {% endif %}">ES</span>
        </a>
      </div>
      <div class="navbar-lang-content">
        <a href="{% if section == 'es/index' or section == 'index' %} /en/index.html {% elif section == 'es/higia' %} /en/higia.html {% elif section == 'es/eva' %} /en/eva.html {% elif section == 'es/allies' %} /en/allies.html {% elif section == 'es/research' %} /en/research.html {% elif section == 'es/news' %} /en/news.html {% elif section == 'es/contact' %} /en/contact.html {% endif %}">
          <span class="navbar-lang">EN</span>
        </a>
      </div>
    </div>
  </div>

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <img class="hamburger-icon" src="/img/icons/hamburger-icon.png" data-attribute="">
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="navbar-lang-container">
        <div class="navbar-lang-content">
          <a href="{% if section == 'en/index' %} /es/index.html {% elif section == 'en/higia' %} /es/higia.html {% elif section == 'en/eva' %} /es/eva.html {% elif section == 'en/allies' %} /es/allies.html {% elif section == 'en/research' %} /es/research.html {% elif section == 'en/news' %} /es/news.html {% elif section == 'en/contact' %} /es/contact.html {% endif %}" data-attribute="">
            <span class="navbar-lang {% if section == 'es/index' or section == 'index' or section == 'es/higia' or section == 'es/eva' or section == 'es/allies' or section == 'es/research' or section == 'es/contact' %} helvneue-bold {% endif %}">ES</span>
          </a>
        </div>
        <div class="navbar-lang-content">
          <a href="{% if section == 'es/index' or section == 'index' %} /en/index.html {% elif section == 'es/higia' %} /en/higia.html {% elif section == 'es/eva' %} /en/eva.html {% elif section == 'es/allies' %} /en/allies.html {% elif section == 'es/research' %} /en/research.html {% elif section == 'es/news' %} /en/news.html {% elif section == 'es/contact' %} /en/contact.html {% endif %}" data-attribute="">
            <span class="navbar-lang">EN</span>
          </a>
        </div>
      </div>
      <div id="hideHamburger">
        <img class="hamburger-close" src="/img/icons/close-menu.png" alt="Close hamburger menu">
      </div>
    </div>
    <div class="hamburger-menu-body helvneue-bold" data-attribute="">
      {% for nav in es.navs.info %}
      <div class="hamburger-text-container {% if view_name == nav.viewName %} hamburger-active {% endif %} {% if nav.section == 'Preordena' %} hamburger-btn-container{% endif %}">
        <a href="{{nav.link}}" data-attribute="">
          <span class="{% if nav.section != 'Preordena' %}hamburger-text{% endif %} {% if nav.section == 'Preordena' %}navbar-btn helvneue-medium{% endif %}">{{nav.section}}</span>
        </a>
        {% if nav.section != 'Preordena' %}
        <div>
          <img class="hamburger-arrow" src="{{nav.hamburgerIcon}}">
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</nav>
