{% extends "partials/base.njk" %}

{% block title %}Home{% endblock %}

{% set view_name = "homepage" %}

{% block content %}
  <div class="home">
    <div class="home-particles-container" id="home-particles-container">
      <div class="home-particles-absolute" id="home-particles-absolute">
        <div class="home-cover">
          <div class="home-cover-info">
            <h1 class="home-cover-title helvneue-light">{{en.coverTitle}} <span class="helvneue-bold pink">{{en.coverTitleSpan}}</span></h1>
            <div class="home-cover-description-container">
              <p class="home-cover-description helvneue-light"><span class="helvneue-bold">{{en.coverDescription[0]}} </span><span class="helvneue-bold pink">{{en.coverDescription[1]}}</span><span class="helvneue-bold">, </span>{{en.coverDescription[2]}} <span class="helvneue-bold">{{en.coverDescription[3]}} </span>{{en.coverDescription[4]}} <span class="helvneue-bold">{{en.coverDescription[5]}}</span> {{en.coverDescription[6]}} <span class="pink helvneue-bold">{{en.coverDescription[7]}} </span>{{en.coverDescription[8]}}.</p>
            </div>
            <div class="home-cover-btn-container">
              <a href="">
                <button class="helvneue-medium btn-base btn-md">{{en.btnPreorder}}</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-eva">
      <div>
        <div class="home-eva-logo-container">
          <img class="home-eva-logo" src="{{en.homeEva.logo}}" alt="EVA logo">
        </div>
        <div class="home-eva-paragraph-container">
          <p class="home-eva-paragraph helvneue-light">
            <span class="pink helvneue-medium">EVA</span> provides women with personalized and actionable information for early breast cancer assessment. <span class="pink helvneue-medium">Early breast cancer detection</span> substantially <span class="helvneue-medium">increases the probability of successful treatments.</span>
          </p>
        </div>
      </div>
      <div class="home-eva-infographi">
        {% for infographi in en.home.eva.infographi %}
        <div class="{{infographi.imgContainer}}">
          <div class="mask-base {{infographi.maskClass}}"></div>
          <img class="{{infographi.imgClass}}" src="{{infographi.img}}" data-aos="{{infographi.imgAOS}}" data-aos-duration="{{infographi.imgAOSDuration}}">
          <div class="{{infographi.infoClass}}" data-aos="{{infographi.infoAOS}}" data-aos-duration="{{infographi.infoAOSDuration}}" data-aos-delay="{{infographi.infoAOSDelay}}">
            <img class="home-eva-infographi-bullet {{infographi.infoBulletClass}}" src="{{infographi.infoBullet}}">
            <div class="home-eva-infographi-text-container">
              {% if infographi.infoText %}<span class="home-eva-infographi-text helvneue-thin">{{infographi.infoText}}</span>{% endif %}
              <div>
                <span class="home-eva-infographi-text-bold bebasneue-bold pink">{{infographi.infoPink}}&nbsp;</span>{% if infographi.infoBlack %}<span class="home-eva-infographi-text-bold bebasneue-bold">{{infographi.infoBlack}}</span>{% endif %}
              </div>
              {% if infographi.infoText2 %}<span class="home-eva-infographi-text helvneue-thin">{{infographi.infoText2}}</span>{% endif %}
            </div>
          </div>
          {% if infographi.infoClass2 %}
          <div class="{{infographi.infoClass2}}" data-aos="{{infographi.infoAOS}}" data-aos-duration="{{infographi.infoAOSDuration}}" data-aos-delay="{{infographi.infoAOSDelay2}}">
            <img class="home-eva-infographi-bullet {{infographi.infoBulletClass}}" src="{{infographi.infoBullet}}">
            <div class="home-eva-infographi-text-container">
              <div>
                <span class="home-eva-infographi-text-bold bebasneue-bold">{{infographi.info2Black}}&nbsp;</span><span class="home-eva-infographi-text-bold bebasneue-bold pink">{{infographi.info2Pink}}</span>
              </div>
              <span class="home-eva-infographi-text helvneue-thin">{{infographi.info2Text}}</span>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="home-eva-button-container">
        <a href="">
          <button class="helvneue-medium btn-base btn-md">{{en.homeEva.firstButton}}</button>
        </a>
        <a href="">
          <button class="helvneue-medium btn-base btn-white btn-md">{{en.homeEva.secondButton}}</button>
        </a>
      </div>
    </div>

    <div class="home-founder">
      <div class="home-founder-img-container">
        <img class="home-founder-img" src="{{en.home.founder.img}}">
      </div>
      <div class="home-founder-info">
        <h1 class="home-founder-title helvneue-light">{{en.home.founder.title}}</h1>
        <div class="home-founder-subtitle-container">
          <h2 class="home-founder-subtitle helvneue-bold">{{en.home.founder.subtitle}}</h2>
        </div>
        <div class="home-founder-paragraph-container">
          <p class="home-founder-paragraph helvneue-light">{{en.home.founder.descriptionOne}}</p>
        </div>
        <div class="home-founder-paragraph-container">
          <p class="home-founder-paragraph helvneue-medium">{{en.home.founder.descriptionTwo}}</p>
        </div>
        <div class="home-founder-button">
          <a href="#{{en.home.founder.dataModal}}" data-modal data-id="{{en.home.founder.videoId}}">
            <button class="helvneue-medium btn-base btn-sm">{{en.home.founder.button}}</button>
          </a>
        </div>
      </div>
    </div>

    <div id="{{en.home.founder.dataModal}}" class="modal">
      <video width="100%"data-video="{{en.home.founder.videoId}}" id="{{en.home.founder.videoId}}">
        <source src="{{en.home.founder.video}}" type="video/mp4">
      </video>
    </div>

    <div class="home-allies">
      <div class="home-allies-content">
        <h1 class="home-allies-title helvneue-bold">{{en.homeAllies.title}}</h1>
        <div class="home-allies-description-container">
          <p class="home-allies-description helvneue-light">{{en.homeAllies.description}}</p>
        </div>
        <div class="home-allies-carousel owl-carousel">
          {% for logo in en.homeAllies.logos %}
          <div class="home-allies-carousel-content">
            <div class="home-allies-logo-container">
              <img class="{{logo.class}}" src="{{logo.img}}">
            </div>
            <h1 class="home-allies-name helvneue-medium">{{logo.title}}</h1>
          </div>
          {% endfor %}
        </div>
        <div class="home-allies-btn-container">
          <a href="">
            <button class="helvneue-medium btn-base btn-sm">{{en.homeAllies.btn}}</button>
          </a>
        </div>
      </div>
    </div>

    <div class="home-awards">
      <div class="home-awards-title-container">
        <h1 class="home-awards-title helvneue-bold">{{en.homeAwards.title}}</h1>
      </div>
      <div class="home-awards-carousel owl-carousel">
        {% for award in en.homeAwards.carousel %}
        <div class="home-awards-content">
          <div class="home-awards-img {{award.img}}">
            <div class="{{award.logoContainerClass}}">
              <img class="{{award.logoClass}}" src="{{award.logo}}">
            </div>
          </div>
          <div class="home-awards-info">
            <h1 class="home-awards-carousel-title helvneue-bold">{{award.title}}</h1>
            <div class="home-awards-separator"></div>
            <h3 class="home-awards-carousel-description helvneue-light">{{award.description}} <i>{{award.descriptionItalic}}</i></h3>
            <span class="home-awards-carousel-subtitle helvneue-lightitalic">{{award.year}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="home-news">
      <h1 class="home-news-title helvneue-bold">{{en.homeNews.title}}</h1>
      <div class="home-news-carousel owl-carousel">
        {% for new in en.homeNews.carousel %}
        <a href="{{new.link}}" target="_blank">
          <div class="home-news-card">
            <div>
              <img class="{{new.logoClass}}" src="{{new.logo}}">
            </div>
            <div class="home-news-separator"></div>
            <div class="home-news-description-container">
              <p class="home-news-description helvneue-light">{{new.description}}</p>
            </div>
            <span class="home-news-date helvneue-bold">{{new.date}}</span>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="home-news-btn-container">
        <a href="/en/news.html">
          <button class="helvneue-medium btn-base btn-sm">{{en.homeNews.btn}}</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
