.navbar
  align-items center
  background-color $hwhite
  display flex
  height 107px
  justify-content space-between
  left 0
  padding 0 40px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 65px
    width 109px

  &-scroll
    align-items center
    background-color $hpink
    box-shadow 0 6px 8px 0 rgba(0,0,0,0.2)

  &-option,
  &-lang
    font-size $fs14
    letter-spacing 0.1px
    color $hblack
    transition 0.3s

  &-option:hover,
  &-option.active
    color $hpink
    transition 0.3s

  &-option.active
    font-weight bold

  &-option

    &-container
      display flex
      flex-direction row

    &-content
      margin-left 20px
      position relative

  &-btn
    border solid 1px $hpink
    border-radius 100px
    background-color $hwhite
    color $hpink
    font-size $fs13
    letter-spacing 1px
    padding 4px 20px
    transition 0.3s

    &:hover
      background-color $hpink
      border solid 1px $hpink
      color $hwhite
      cursor pointer
      transition 0.2s

  &-separator
    background-color $hpink
    height 14px
    width 1px

    &-container
      align-items center
      display flex
      margin 0 0 0 25px

  &-lang
    &-container
      display flex
      flex-direction row

    &-content
      margin-left 18px

  &-hamburguer
    left -200px
    position absolute

.hamburger
  &-visibility
    position absolute

  &-menu
    &-container
      display none

.active-section
  color white

.navbar-option.nav-option-scroll,
.navbar-lang.nav-option-scroll
  color $hwhite

@media screen and (max-width 876px)
  .navbar
    justify-content space-between
    height 96px
    padding 0 18px

    &-logo
      height 45px
      width 75px

    &-option
      &-container
        display none

    &-lang
      color $hwhite

    &-hamburguer
      position initial

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px

    &-icon
      height 19px
      width 24px

    &-visibility
      cursor pointer
      position initial

    &-logo
      height 20px
      width 94px

    &-close
      cursor pointer
      height 15px
      width 15px

    &-menu
      &-container
        background-color $hblack
        display inline
        bottom 0
        overflow scroll
        opacity 0.97
        padding-bottom 50px
        position fixed
        right 0
        top 0
        -webkit-transition width 0.5s
        transition width 0.5s
        width 0%
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content space-between
        padding 22px 36px 50px 36px

      &-body
        margin-left 0

    &-text
      color $hwhite
      font-size $fs15
      letter-spacing 0.1px
      padding 10px 0

      &-container
        align-items center
        display flex
        flex-direction row
        height 45px
        justify-content space-between
        padding 0 54px

    &-btn
      &-container
        &:hover
          background-color transparent !important

    &-arrow
      height 9.7px
      width 5.4px

    &-active,
    &-text-container:hover
      background-color $hgrayNav
