{% extends "partials/base.njk" %}

{% block title %}Contacto{% endblock %}

{% set view_name = "contact" %}

{% block content %}
  <div class="contact">
    <section class="contact-top">
      <h1 class="contact-top-title helvneue-bold">{{es.contact.title}}</h1>
    </section>

    <section class="contact-us">
      <div class="contact-us-info">
        <h2 class="contact-us-info-title helvneue-bold">{{es.contact.contactUs.titlePart1}} <span class="helvneue-bold pink">{{es.contact.contactUs.titlePart2}}</span></h2>
        <p class="contact-us-info-desc-1 helvneue-medium">{{es.contact.contactUs.desc1}}</p>
        <p class="contact-us-info-desc-2 helvneue-light">{{es.contact.contactUs.desc2Part1}}<br class="contact-us-info-br"> {{es.contact.contactUs.desc2Part2}}</p> 
        <form class="contact-us-form helvneue-light">
          <input class="contact-us-input" type="text" name="name" placeholder="Nombre">
          <input class="contact-us-input" type="email" name="email" placeholder="Correo electrónico">
          <textarea class="contact-us-textarea" type="text" name="message" placeholder="Mensaje..."></textarea>
          <button class="btn-base btn-sm helvneue-medium" type="submit">{{es.contact.contactUs.btnSend}}</button>
        </form>
      </div>
    </section>

    <section class="contact-social">
      <div class="contact-social-content">
        <h3 class="contact-social-title helvneue-bold">{{es.contact.contactUs.follow}} <span class="pink
          ">{{es.contact.contactUs.followPink}}</span></h3>
        <div class="contact-social-networks">
          {% for social in es.contact.contactUs.socialNet %}
          <a href="{{social.link}}" class="contact-social-networks-content" target="_blank">
            <img class="contact-social-icon" src="{{social.icon}}">
            <span class="contact-social-path helvneue-light">{{social.path}}</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="contact-address">
      <div class="contact-address-map-container">
        <iframe class="contact-address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.2600935389414!2d-99.16203488766251!3d19.429336642734818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff330c50e217%3A0xc9a83072f3f8d27!2sPaseo+de+la+Reforma+180%2C+Ju%C3%A1rez%2C+06600+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1529591572152" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contact-address-info">
        <div class="contact-address-info-content">
          <h3 class="helvneue-bold">{{es.contact.address.title}}</h3>
          <div class="">
            <h4 class="contact-address-place helvneue-bold"><span class="pink">{{es.contact.address.placePart1}}</span> {{es.contact.address.placePart2}}</h4>
            <div class="contact-address-address">
              <span class="contact-address-desc helvneue-light">{{es.contact.address.address}}</span>
            </div>
            <h5 class="helvneue-bold">{{es.contact.address.emailText}}</h5>
            <span class="contact-address-desc helvneue-light">{{es.contact.address.emailAddress}}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-newsl">
      <h3 class="contact-newsl-title helvneue-medium">{{es.contact.newsletter.title}}</h3>
      <h4 class="contact-newsl-subtitle helvneue">{{es.contact.newsletter.subtitle}}</h4>
      <form class="contact-newsl-form helvneue-light">
        <input class="contact-us-input" type="text" name="name" placeholder="Nombre">
        <input class="contact-us-input" type="email" name="email" placeholder="Correo electrónico">
        <button class="btn-base btn-sm helvneue-medium" type="submit">{{es.contact.newsletter.btnSend}}</button>
      </form>
    </section>
  </div>
{% endblock %}
