{% extends "partials/base.njk" %}

{% block title %}Higia{% endblock %}

{% set view_name = "higia" %}

{% block content %}
  <div class="who">
    <section class="who-cover">
      <div class="who-cover-card">
        <h1 class="helvneue-bold who-cover-title">{{es.whoarewe.title}}<br><span class="pink">{{es.whoarewe.titlePink}}</span></h1>
        <p class="helvneue-light who-cover-desc">{{es.whoarewe.desc}}</p>
      </div>
    </section>

    <section class="who-timeline">
      <h1 class="helvneue-bold who-timeline-title">{{es.whoarewe.history.title}}</h1>
      <div class="who-timeline-container">
        {% for timeLine in es.whoarewe.timeline %}
        <div class="who-timeline-content">
          {% if timeLine.year %}
          <div class="who-timeline-year-container">
            <div class="who-timeline-year-capsule">
              <span class="who-timeline-year helvneue-bold">{{timeLine.year}}</span>
            </div>
          </div>
          {% endif %}
          <div class="who-timeline-info-container {{timeLine.orientation}}">
            <div class="{% if timeLine.alignToCircleClass %} who-timeline-info {% endif %}">
              {% if timeLine.icon %}
              <div class="who-timeline-icon-container {% if timeLine.icon %} who-timeline-icon-height {% endif %}">
                <img src="{{timeLine.icon}}" class="{{timeLine.iconClass}}">
              </div>
              {% endif %}
              {% if timeLine.month %}
              <div class="who-timeline-month-container">
                <span class="who-timeline-month helvneue-bold">{{timeLine.month}}</span>
              </div>
              {% endif %}
              <p class="who-timeline-desc helvneue-light">{{timeLine.desc}}</p>
              {% if timeLine.iconEva %}
              <div class="who-timeline-icon-container">
                <img src="{{timeLine.iconEva}}"  class="{{timeLine.iconClass}}">
              </div>
              {% endif %}
              <p class="who-timeline-desc helvneue-light">{{timeLine.descTwo}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="who-timeline-collapsible-container">
        <div class="who-timeline-collapsible"></div>
      </div>
    </section>
    
    <section class="who-team">
      <h1 class="who-team-title helvneue-bold">{{es.whoarewe.team.title}}<span class="pink">{{es.whoarewe.team.titlePink}}</span></h1>
      <p class="who-team-desc helvneue-light">{{es.whoarewe.team.desc}}</p>
      <div class="who-card-container">
        {% for card in es.whoarewe.team.card%}
        <div class="who-card-content">
          <div class="who-card">
            <img class="who-card-img" src="{{card.img}}">
            <a href="#{{card.openModal}}" data-modal>
              <div class="who-card-hover">
                <h3 class="who-card-category">{{card.category}}</h3>
                <img class="who-card-icon" src="{{card.iconModal}}">
              </div>
            </a>
          </div>
          <h3 class="who-card-member helvneue-bold">{{card.member}} <span class="pink">{{card.memberPink}}</span></h3>
          <h4 class="who-card-job helvneue">{{card.job}}</h4>
        </div>
        <div id="{{card.dataModal}}" class="modal">
          <div class="who-modal-content">
            <div class="who-modal-header">
              <h2 class="who-modal-header-title helvneue-bold">{{card.category}}</h2>
            </div>
            <div class="who-modal-body">
              <div id="column-left">
                <img class="who-card-img" src="{{card.img}}">
                <h3 class="who-card-member helvneue-bold">{{card.member}} <span class="pink">{{card.memberPink}}</span></h3>
                <h4 class="who-card-job helvneue">{{card.job}}</h4>
                <span class="who-card-email helvneue-medium">{{card.modalEmail}}</span>
              </div>
              <div class="who-modal-desc-container">
                <p class="who-modal-desc helvneue-light">{{card.modalDesc1}}</p>
                <p class="who-modal-desc helvneue-light">{{card.modalDesc2}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Team cards to mobile version -->
      <div class="who-card-carousel owl-carousel">
        {% for card in es.whoarewe.team.card%}
        <div>
          <div class="who-card-content">
            <div class="who-card">
              <img class="who-card-img" src="{{card.img}}">
              <a  href="#{{card.openModalMobile}}" data-modal>
                <div class="who-card-hover">
                  <h3 class="who-card-category">{{card.category}}</h3>
                    <img class="who-card-icon" src="{{card.iconModal}}">
                </div>
              </a>
            </div>
            <h3 class="who-card-member helvneue-bold">{{card.member}} <span class="pink">{{card.memberPink}}</span></h3>
            <h4 class="who-card-job helvneue">{{card.job}}</h4>
          </div>
          <div id="{{card.dataModalMobile}}" class="modal">
            <div class="who-modal-content">
              <div class="who-modal-header">
                <h2 class="who-modal-header-title helvneue-bold">{{card.category}}</h2>
              </div>
              <div class="who-modal-body">
                <div id="column-left">
                  <img class="who-card-img" src="{{card.img}}">
                  <h3 class="who-card-member helvneue-bold">{{card.member}} <span class="pink">{{card.memberPink}}</span></h3>
                  <h4 class="who-card-job helvneue">{{card.job}}</h4>
                  <span class="who-card-email helvneue-medium">{{card.modalEmail}}</span>
                </div>
                <div class="who-modal-desc-container">
                  <p class="who-modal-desc helvneue-light">{{card.modalDesc1}}</p>
                  <p class="who-modal-desc helvneue-light">{{card.modalDesc2}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="who-work">
      <h1 class="who-work-title helvneue-bold">{{es.whoarewe.work.title}}</h1>
      <div class="who-work-card-carousel owl-carousel">
        {% for work in es.whoarewe.work.card %}
        <div class="who-work-card">
          <h2 class="who-work-card-title helvneue-bold">{{work.title}}</h2>
          <div class="who-work-separator"></div>
          <p class="who-work-card-desc helvneue-light">{{work.desc}}</p>
          <div class="who-work-card-btns">
            <a id="btn-requirements" href="{{work.requirementsLink}}" target="_blank">
              <button class="helvneue-medium btn-base btn-md">{{work.btnRequirements}}</button>
            </a>
            <a href="mailto:{{work.emailAddress}}">
              <button class="helvneue-medium btn-base btn-md home-eva-button">{{work.btnEmail}}</button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <h4 class="who-work-cv helvneue-bold">{{es.whoarewe.work.cv}}</h4>
      <h4 class="who-work-email helvneue-light">{{es.whoarewe.work.emailPart1}}<span class="pink helvneue-medium">{{es.whoarewe.work.emailPart2}}</span>{{es.whoarewe.work.emailPart3}}</h4>
    </section>
  </div>
{% endblock %}
