{% extends "partials/base.njk" %}

{% block title %}Inicio{% endblock %}

{% set view_name = "homepage" %}

{% block content %}
  <div class="home">
    <div class="home-particles-container" id="home-particles-container">
      <div class="home-particles-absolute" id="home-particles-absolute">
        <div class="home-cover">
          <div class="home-cover-info">
            <h1 class="home-cover-title helvneue-light">{{es.coverTitle}} <span class="helvneue-bold pink">{{es.coverTitleSpan}}</span></h1>
            <div class="home-cover-description-container">
              <p class="home-cover-description helvneue-light"><span class="helvneue-bold">{{es.coverDescription[0]}} </span><span class="helvneue-bold pink">{{es.coverDescription[1]}}</span><span class="helvneue-bold">, </span>{{es.coverDescription[2]}}, <span class="helvneue-bold">{{es.coverDescription[3]}} </span>{{es.coverDescription[4]}} <span class="helvneue-bold">{{es.coverDescription[5]}}</span> {{es.coverDescription[6]}} <span class="pink helvneue-bold">{{es.coverDescription[7]}}.</span></p>
            </div>
            <div class="home-cover-btn-container">
              <a href="">
                <button class="helvneue-medium btn-base btn-md">{{es.btnPreorder}}</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-eva">
      <div>
        <div class="home-eva-logo-container">
          <img class="home-eva-logo" src="{{es.homeEva.logo}}" alt="EVA logo">
        </div>
        <div class="home-eva-paragraph-container">
          <p class="home-eva-paragraph helvneue-light">
            <span class="pink helvneue-medium">EVA</span> proporciona a las mujeres información personalizada y accionable para <span class="helvneue-medium">aumentar sustancialmente su calidad de vida</span> a través de la <span class="pink helvneue-medium">detección temprana del cáncer de mama.</span>
          </p>
        </div>
      </div>
      <div class="home-eva-infographi">
        {% for infographi in es.home.eva.infographi %}
        <div class="{{infographi.imgContainer}}">
          <img class="{{infographi.imgClass}}" src="{{infographi.img}}" data-aos="{{infographi.imgAOS}}" data-aos-duration="{{infographi.infoAOSDuration}}">
          <div class="{{infographi.infoClass}}" data-aos="{{infographi.infoAOS}}" data-aos-duration="{{infographi.infoAOSDuration}}" data-aos-delay="{{infographi.infoAOSDelay}}">
            {% if infographi.infoText %}<span class="">{{infographi.infoText}}</span>{% endif %}
            <div>
              <span class="helvneue-bold pink">{{infographi.infoPink}}&nbsp;</span>{% if infographi.infoBlack %}<span class="helvneue-bold">{{infographi.infoBlack}}</span>{% endif %}
            </div>
            {% if infographi.infoText2 %}<span>{{infographi.infoText2}}</span>{% endif %}
          </div>
          {% if infographi.infoClass2 %}
          <div class="{{infographi.infoClass2}}" data-aos="{{infographi.infoAOS}}" data-aos-duration="{{infographi.infoAOSDuration}}" data-aos-delay="{{infographi.infoAOSDelay2}}">
            <div>
              <span class="helvneue-bold">{{infographi.info2Black}}&nbsp;</span><span class="helvneue-bold pink">{{infographi.info2Pink}}</span>
            </div>
            <span>{{infographi.info2Text}}</span>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="home-eva-button-container">
        <a href="">
          <button class="helvneue-medium btn-base btn-md">{{es.homeEva.firstButton}}</button>
        </a>
        <a href="">
          <button class="helvneue-medium btn-base btn-md home-eva-button">{{es.homeEva.secondButton}}</button>
        </a>
      </div>
    </div>

    <div class="home-founder">
      <div class="home-founder-img-container">
        <img class="home-founder-img" src="{{es.founder}}">
      </div>
      <div class="home-founder-info">
        <h1 class="home-founder-title helvneue-light">{{es.homeFounder.title}}</h1>
        <div class="home-founder-subtitle-container">
          <h2 class="home-founder-subtitle helvneue-bold">{{es.homeFounder.subtitle}}</h2>
        </div>
        <div class="home-founder-paragraph-container">
          <p class="home-founder-paragraph helvneue-light">{{es.homeFounder.descriptionOne}}</p>
        </div>
        <div class="home-founder-paragraph-container">
          <p class="home-founder-paragraph helvneue-medium">{{es.homeFounder.descriptionTwo}}</p>
        </div>
        <div class="home-founder-button">
          <a href="">
            <button class="helvneue-medium btn-base btn-sm">{{es.homeFounder.button}}</button>
          </a>
        </div>
      </div>
    </div>

    <div class="home-allies">
      <div class="home-allies-content">
        <h1 class="home-allies-title helvneue-bold">{{es.homeAllies.title}}</h1>
        <div class="home-allies-description-container">
          <p class="home-allies-description helvneue-light">{{es.homeAllies.description}}</p>
        </div>
        <div class="home-allies-carousel owl-carousel">
          {% for logo in es.homeAllies.logos %}
          <div class="home-allies-carousel-content">
            <div class="home-allies-logo-container">
              <img class="{{logo.class}}" src="{{logo.img}}">
            </div>
            <h1 class="home-allies-name helvneue-medium">{{logo.title}}</h1>
          </div>
          {% endfor %}
        </div>
        <div class="home-allies-btn-container">
          <a href="">
            <button class="helvneue-medium btn-base btn-sm">{{es.btnKnowMore}}</button>
          </a>
        </div>
      </div>
    </div>

    <div class="home-awards">
      <div class="home-awards-title-container">
        <h1 class="home-awards-title helvneue-bold">{{es.homeAwards.title}}</h1>
      </div>
      <div class="home-awards-carousel owl-carousel">
        {% for award in es.homeAwards.carousel %}
        <div class="home-awards-content">
          <div class="home-awards-img {{award.img}}">
            <div class="{{award.logoContainerClass}}">
              <img class="{{award.logoClass}}" src="{{award.logo}}">
            </div>
          </div>
          <div class="home-awards-info">
            <h1 class="home-awards-carousel-title helvneue-bold">{{award.title}}</h1>
            <div class="home-awards-separator"></div>
            <h3 class="home-awards-carousel-description helvneue-light">{{award.description}} <i>{{award.descriptionItalic}}</i></h3>
            <span class="home-awards-carousel-subtitle helvneue-lightitalic">{{award.year}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="home-news">
      <h1 class="home-news-title helvneue-bold">{{es.homeNews.title}}</h1>
      <div class="home-news-carousel owl-carousel">
        {% for new in es.homeNews.carousel %}
        <a href="{{new.link}}" target="_blank">
          <div class="home-news-card">
            <div>
              <img class="{{new.logoClass}}" src="{{new.logo}}">
            </div>
            <div class="home-news-separator"></div>
            <div class="home-news-description-container">
              <p class="home-news-description helvneue-light">{{new.description}}</p>
            </div>
            <span class="home-news-date helvneue-bold">{{new.date}}</span>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="home-news-btn-container">
        <a href="">
          <button class="helvneue-medium btn-base btn-lg">{{es.btnCompleteNotes}}</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
