@font-face
  font-family 'BebasNeueBold'
  src url('../fonts/BebasNeueBold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue.woff') format('woff')
  font-weight $normal
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Bold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Light.woff') format('woff')
  font-weight $light
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-LightItalic.woff') format('woff')
  font-weight $light
  font-style italic

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeue-Thin.woff') format('woff')
  font-weight $thin
  font-style normal

.bebasneue-bold
  font-family 'BebasNeueBold'
  font-weight $bold

.helvneue
  font-family 'HelveticaNeue'
  font-weight $normal

.helvneue-bold
  font-family 'HelveticaNeue'
  font-weight $bold

.helvneue-light
  font-family 'HelveticaNeue'
  font-weight $light

.helvneue-lightitalic
  font-family 'HelveticaNeue'
  font-style italic
  font-weight $light

.helvneue-medium
  font-family 'HelveticaNeue'
  font-weight $medium

.helvneue-thin
  font-family 'HelveticaNeue'
  font-weight $thin
