.btn
  &-base
    border solid 1px $hpink
    border-radius 100px
    background-color $hwhite
    color $hpink
    font-size $fs15
    height 44px
    letter-spacing 1px
    transition 0.3s

    &:hover
      background-color $hpink
      border solid 1px $hpink
      color $hwhite
      cursor pointer
      transition 0.2s

  &-sm
    width 165px

  &-md
    width 204px

  &-lg
    width 269px

.pink
  color $hpink

@media screen and (max-width 780px)
  .btn
    &-base
      font-size $fs13
      letter-spacing 0.9px
      height 40px

    &-sm
      width 130px

    &-md
      width 140px

    &-lg
      width 222px
