// COLORS
$errorColor = #ff3636
$successColor = #149a14

$hblack = #4c4c4c
$hblackLight = #797979
$hblackMedium = #5e5e5e
$hgrayDots = #e4e4e4
$hgrayLight = #f4f4f4
$hgray = #7e7e7e
$hgrayNav = #a9a9a9
$hgrayStrong = #6d6e70
$hpink = #d480a6
$hpinkLight = #f8f9fa
$hwhite = #ffffff

// Base font-size
$baseFontSize = 16

$fs47 = 47px
$fs45 = 45px
$fs38 = 38px
$fs25 = 25px
$fs20 = 20px
$fs19 = 19px
$fs18 = 18px
$fs17 = 17px
$fs15 = 15px
$fs14 = 14px
$fs13 = 13px
$fs12 = 12px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black