// COLORS
$errorColor = #ff3636
$successColor = #149a14

$black = #4c4c4c
$blackLight = #797979
$blackMedium = #5e5e5e
$gray = #7e7e7e
$pink = #d480a6
$white = #ffffff

// Base font-size
$baseFontSize = 16

$fs47 = 47px
$fs25 = 25px
$fs20 = 20px
$fs19 = 19px
$fs17 = 17px
$fs15 = 15px
$fs14 = 13px
$fs12 = 12px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black